<div class="row">
  <div class="col">
    <ul class="jobs">
    {% for job in section.jobs %}
      <li>
        <h3>
          <span>{{ job.years }}</span>
          <span>{{ job.company }}</span>
        </h3>
        <div>{{ job.title }}</div>
      </li>
    {% endfor %}
    </ul>
    <p><a href="docs/AaronWeideleResume.pdf" target="_blank">Download CV</a></p>
  </div>
</div>
