<div class="row center">
  <div class="col-md-5">
    <h2>Connect</h2>
    <nav class="social">
      <ul>
        <li>
          <a href="https://github.com/aweidele/" target="_blank">
            {% include '../../../icons/github.svg' %}
            <span>Github</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/aaron-weidele-5a42313a/" target="_blank">
            {% include '../../../icons/linkedin.svg' %}
            <span>Linkedin</span>
          </a>
        </li>
        <li>
          <a href="mailto:aweidele@gmail.com">
            {% include '../../../icons/mail.svg' %}
            <span>Email</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-7 col-lg-5">
  {#
    <h2>Contact</h2>
    <div class="contact">
      <form action="/ajax/submit.php" method="POST">
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
          <button>Send</button>
        </div>
      </form>
    </div>
  #}
  </div>
</div>
