<div class="row center">
  <div class="col-lg-10">
    <div class="header_inner">
      <h1>
      <a href="#top">
        {% include '../../../icons/logo.svg' %}
        <span>{{ site.title }}</span>
      </a>
      </h1>
      <button><span>Menu</span></button>
      {% include 'navigation.twig' %}
    </div>
  </div>
</div>
