<div class="row right">
  <div class="col-md-9 col-lg-8 col-xl-7">
    <h2>{{ content.content.line1 }}
      <small>{{ content.content.line2 }}</small>
    </h2>
  </div>
</div>
<a href="#web">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="M12.5,25A12.5,12.5,0,1,1,25,12.5,12.52,12.52,0,0,1,12.5,25Zm0-24A11.5,11.5,0,1,0,24,12.5,11.51,11.51,0,0,0,12.5,1Zm5.91,10-.71-.7-5,5-5-5L7,11l5.68,5.69Z"/></svg>
  <span>Come Learn Some More</span>
</a>
