<section id="{{ section.id }}" class="section {{ section.layout }}">
  <div class="row">
    <div class="col">
      <h2>{{ section.title }}</h2>
    </div>
  </div>
    {% include section.layout ~ ".twig" with {
      "content": section.content
    } %}
</section>
