$dot: 16px;

.work-timeline {
  @extend %clearfix;
  padding: 10rem 0;
  li {
    position: relative;
    width: 25%;
    float: left;
    
    &:before {
      content: " ";
      display: block;
      height: 10px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -5px;
      background: $primary;
    }
    
    &:first-child ~ li:after {
      //content: " ";
      //display: block;
      //width: 1px;
      //height: 100%;
      //position: absolute;
      //left: 0;
      //top: 0;
      //border-left: 1px dotted $lgray;
    }
    
    > div {
      position: absolute;
      left: 0;
    }
    
    &:nth-child(2n) {
      > div {
        bottom: 0;
      }
    }
    
    &:nth-child(2n+1) {
      > div {
        top: 0;
      }
    }
    
    &:nth-child(4n+1) {
      &:before {
        background-color: $primary;
      }
    }
    
    &:nth-child(4n+2) {
      &:before {
        background-color: $tertiary;
      }
    }
    
    &:nth-child(4n+3) {
      &:before {
        background-color: $secondary;
      }
    }
    
    &:nth-child(4n+4) {
      &:before {
        background-color: $tgray;
      }
    }
  }
}