$dot: 30px;
$line: 10px;
$arrow: 12px;
$items: 4;
$p: 100% / $items;

#experience h2 { padding: 0 10px; }
.work-timeline {
  //*,*:after,*:before {
  //  transition: all 2s;
  //}
  > li {
    position: relative;
    
    > strong {
      display: block;
      font-weight: 800;
      text-align: center;
      font-size: 3.2rem;
        position: absolute;
    }
    
    > div {
      > div {
        padding: 1rem 2rem;
        color: #FFFFFF;
        position: relative;
        p,h3 {
          font-size: 1.4rem;
        }
        &:after {
          content: " ";
          width: $arrow;
          height: $arrow;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
        }
      }
    }
    
    &:before {
      content: " ";
      display: block;
      position: absolute;
    }
    &:after {
      content: " ";
      display: block;
      width: $dot;
      height: $dot;
      position: absolute;
      border-radius: 50%;
    }
    
    &:nth-child(4n+1) {
      &:before,&:after {
        background-color: $primary;
      }
      > div > div {
        &,&:after {
          background-color: lighten($primary,10);
        }
      }
    }
    
    &:nth-child(4n+2) {
      &:before,&:after {
        background-color: $tertiary;
      }
      > div > div {
        &,&:after {
          background-color: lighten($tertiary,10);
        }
      }
    }
    
    &:nth-child(4n+3) {
      &:before,&:after  {
        background-color: $secondary;
      }
      > div > div {
        &,&:after {
          background-color: lighten($secondary,10);
        }
      }
    }
    
    &:nth-child(4n+4) {
      &:before,&:after  {
        background-color: $tgray;
      }
      > div > div {
        &,&:after {
          background-color: lighten($tgray,10);
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint) {
    > li {
      > strong {
      }
    }
  }
  @media screen and (max-width: #{$breakpointM - 1}) {
    > li {
      padding: 30px 0;
      &:before {
        width: $line;
        height: 100%;
        top: 0;
        left: calc(50% - #{$line / 2});
      }
      &:after {
        top: calc(50% - #{$dot / 2});
        left: calc(50% - #{$dot / 2});
      }
      
      > div {
        width: 50%;
      }

      > strong {
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      
      &:nth-child(2n+1) {
        > div {
          padding-right: 30px;
          
          > div:after {
            top: calc(50% - #{$arrow / 2});
            right: $arrow / -2;
          }
        }

        > strong {
          left: 50%;
          text-align: left;
          padding-left: 30px;
        }
      }
      &:nth-child(2n) {
        > div {
          position: relative;
          left: 50%;
          padding-left: 30px;
          
          > div:after {
            top: calc(50% - #{$arrow / 2});
            left: $arrow / -2;
          }
        }

        > strong {
          left: 0;
          text-align: right;
          padding-right: 30px;
        }
      }
    }
  }
  @media screen and (min-width: $breakpointM) {
  padding: 150px 10px;
  position: relative;
  > li {
    position: absolute;
    width: $p;
    
    &:before {
      height: $line;
      width: 100%;
      left: 0;
      top: $line / -2;
      background: $primary;
    }
    
    &:after {
      left: calc(50% - #{($dot / 2)});
      top: $dot / -2;
    }
    
    > div {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 30px 0;
    }
    
    > strong {
      width: 100%;
    }

    @for $c from 1 through $items {
      &:nth-child(#{$c}) {
        left: $p * ($c - 1);
      }
    }
    
    &:nth-child(2n) {
      > div {
        top: 0;
        
        > div {
          &:after {
            top: $arrow / -2;
            left: calc(50% - #{$arrow / 2});
          }
        }
      }
    
      > strong {
        bottom: 30px;
      }
    }
    
    &:nth-child(2n+1) {
      > div {
        bottom: 0;
        
        > div {
          &:after {
            bottom: $arrow / -2;
            left: calc(50% - #{$arrow / 2});
          }
        }
      }
    
      > strong {
        top: 30px;
      }
    }
  }
}
  + p {
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    
    a {
      color: $secondary;
      font-weight: 800;
    }
    
    @media screen and (min-width: $breakpoint) {
      text-align: left;
    }
  }
}