footer {
  background-color: $tertiary;
  color: #FFFFFF;
  padding: 57px 7px;
  margin-top: 34px;
  @extend %hexBorder;
  
  @media screen and (min-width: $breakpoint) {
    padding: 57px 0; 
  }
  
  h2 {
    font-size: 2.9rem;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }
  
  li {
    font-size: 1.6rem;
  }
  
  a {
    color: #FFFFFF;
    &:hover {
      color: $lgray;
    }
  }
  
  .social {
    @extend %clearfix;
    
    > li {
      float: left;
      margin-right: 5px;
      &:last-child { margin: 0; }
    }
    
    a {
      display: block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      color: $tertiary;
      text-align: center;
      background-color: #FFFFFF;
      transition: background-color $speed;
      &:hover {
        background-color: $lgray;
      }
      
      span {
        @extend %positionOff;
      }
    }
  }
  
  @media screen and (max-width: $breakpoint - 1) {
    [class^="col-"], [class*=" col-"] {
      margin-bottom: 2em;
    }
  }
}