#home {
  > header {
    padding: 1em 0 100px 0;
    background-color: $tertiary;
    color: $lgray;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    
    > p {
      padding: 0 7px;
    }
    
    > span {
      display: block;
    }
    
    a {
      color: $primary;
      
      &:hover {
        color: $secondary;
      }
    }
    
  }
  
  .scrolldown {
    position: absolute;
    width: 100%;
    font-size: 1.1rem;
    bottom: 112px;
    display: none;
    
    > a { 
      > span {
        display: inline-block;
        position: absolute;
        top: 0;
        
        &:first-child {
          padding-right: 30px;
          right: 50%;
        }
        
        &:nth-child(2) {
          padding-left: 30px;
          left: 50%;
        }
      }
      
      [class^="icon-"], [class*=" icon-"] {
        position: absolute;
        left: 50%;
        top: -13px;
        font-size: 4rem;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    
  }
  
  section {
    @extend %hexBorder;
  }
  
}

.hello {
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 1.317em;
}

.me {
  display: block;
  font-size: 2.0rem;
  line-height: 1.379em;
}

.what {
  font-size: 1.2rem;
  line-height: 2.778em;
  
  > strong {
    font-size: 3.2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: $breakpoint) {
  #home {
    > header {
      padding: 82px 0 212px 0;
    }
    
    .scrolldown { display: block; }
  }
  
  .hello {
    font-size: 12.3rem;
  }
  
  .me {
    font-size: 2.9rem;
  }
  
  .what {
    font-size: 1.8rem;
     > strong {
      font-size: 4.7rem;
    }
  }
}