%preview {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  > img {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    display: block;
  }   
  @media screen and (max-width: $breakpoint - 1) {
    max-width: 370px;
  }
}

.web-preview {
  @extend %preview;
  
	display: none;
	@media screen and (min-width: $breakpoint) {
		display: block;
	}
  > div {
    position: absolute;
    top: 9%;
    left: 10%;
    z-index: 0;
    width: 81%;
    height: 91%;
    overflow: hidden;
    
    ul {
      @include sliderAnim();
    }
    
    li {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include posElement();
	  
	  &:nth-child(#{$slides}) ~ li {
	    display: none;
	  }
    }
    
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.motion-preview {
  @extend %preview;
  video,.mobile-gif {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .mobile-gif {
    display: block;
  }
  
  video {
    display: none;
  }
  
  @media screen and (min-width: $breakpoint) {
    video {
      display: block;
    }
    .mobile-gif {
      display: none;
    }
  }
}

.skills {
  margin-bottom: 2em;
  > li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.portfolio-grid {
    margin-top: $gutter * 2;
  > article {
    margin-bottom: $gutter;
    opacity: 1;
    transition: opacity 0.5s;
    
    &:nth-child(4n+2) {
      transition-delay: 0.125s;
    }
    
    &:nth-child(4n+3) {
      transition-delay: 0.25s;
    }
    
    &:nth-child(4n) {
      transition-delay: 0.375s;
    }
    
    &.faded {
      opacity: 0;
    }
    
    > a {
      width: 100%;
      border: 1px solid $tertiary;
      position: relative;
      display: block;
	    overflow: hidden;
      > div {
        width: 100%;
        background-color: rgba($tertiary,0.8);
        padding: $gutter $gutter / 2;
        color: #FFFFFF;
        transition: left $speed;
        text-align: center;
        z-index: 10;
        
		@media screen and (min-width: $breakpoint) {
        	position: absolute;
        	height: 100%;
        	top: 0;
        	left: -100%;
        	padding: $gutter / 2;

			    > div {
          		position: relative;
          		top: 50%;
          		transform: translateY(-50%);
        	}
		}
        
        .btn {
          display: inline-block;
          background: $primary;
          text-transform: uppercase;
          padding: 1em 2em;
          margin-top: 1em;
          font-size: 1.1rem;
          transition: background-color $speed;
          &:hover {
            background-color: $secondary;
          }
        }
      }
      &:hover > div {
        left: 0;
      }
      
      ul {
        margin-top: 2em;
      }
      li {
        color: #FFFFFF;
        margin: 0 2px;
        font-size: 1.4rem;
        display: inline-block;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      z-index: 0;
    }
  }
}