%preview {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  > img {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    display: block;
  }   
  @media screen and (max-width: $breakpoint - 1) {
    max-width: 370px;
  }
}

.web-preview {
  @extend %preview;
  
  > div {
    position: absolute;
    top: 9%;
    left: 10%;
    z-index: 0;
    width: 81%;
    height: 91%;
    overflow: hidden;
    
    ul {
      @include sliderAnim();
    }
    
    li {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include posElement();
    }
    
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.motion-preview {
  @extend %preview;
  video {
    display: block;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.skills {
  margin-bottom: 2em;
  > li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.portfolio-grid {
    margin-top: $gutter * 2;
  > article {
    margin-bottom: $gutter;
    > a {
      width: 100%;
      padding-top: 100%;
      border: 1px solid $tertiary;
      position: relative;
      overflow: hidden;
      display: block;
      > div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgba($tertiary,0.8);
        padding: $gutter / 2;
        color: #FFFFFF;
        transition: left $speed;
        text-align: center;
        
        > div {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
        
        .btn {
          display: inline-block;
          background: $primary;
          text-transform: uppercase;
          padding: 1em 2em;
          margin-top: 1em;
          font-size: 1.1rem;
          transition: background-color $speed;
          &:hover {
            background-color: $secondary;
          }
        }
      }
      &:hover > div {
        left: 0;
      }
    }
    img {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      z-index: 0;
    }
  }
}