.web-preview {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
  > img {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    display: block;
  }
  
  > div {
    position: absolute;
    top: 9%;
    left: 10%;
    z-index: 0;
    width: 81%;
    height: 91%;
    overflow: hidden;
    
    ul {
      @include sliderAnim();
    }
    
    li {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include posElement();
    }
    
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  
  @media screen and (max-width: $breakpoint - 1) {
    display: none;
  }
}

.skills {
  > li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}