$slides: 3;
$time: 2;
$trans: 0.25;
$tot: ($time + $trans) * $slides; 

@-webkit-keyframes sliding {
  @for $i from 0 through $slides - 1 {
    $t: ($time + $trans) * $i;
    $n: $t + $time;
    #{($t / $tot) * 100}% { -webkit-transform: translateX($i * -100%); transform: translateX($i * -100%); }
    #{($n / $tot) * 100}% { -webkit-transform: translateX($i * -100%);transform: translateX($i * -100%); }
  }
  100% { -webkit-transform: translateX($slides * -100%); transform: translateX($slides * -100%); }
}

@keyframes sliding {
  @for $i from 0 through $slides - 1 {
    $t: ($time + $trans) * $i;
    $n: $t + $time;
    #{($t / $tot) * 100}% { -webkit-transform: translateX($i * -100%); transform: translateX($i * -100%); }
    #{($n / $tot) * 100}% { -webkit-transform: translateX($i * -100%);transform: translateX($i * -100%); }
  }
  100% { -webkit-transform: translateX($slides * -100%); transform: translateX($slides * -100%); }
}

@-webkit-keyframes firstjump {
  0% { left: 0%; }
  50% { left: 0%; }
  51% { left: $slides * 100%; }
  100% { left: $slides * 100%; }
}

@keyframes firstjump {
  0% { left: 0%; }
  50% { left: 0%; }
  51% { left: $slides * 100%; }
  100% { left: $slides * 100%; }
}

@mixin sliderAnim() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: sliding #{$tot}s infinite;
  animation: sliding #{$tot}s infinite;
}

@mixin posElement() {
   &:first-child {
      left: 0;
      z-index: 0;
      -webkit-animation: firstjump #{$tot}s infinite;
      animation: firstjump #{$tot}s infinite;
    }
    
    @for $i from 1 through $slides - 1 {
        &:nth-child(#{$i + 1}) {
          left: $i * 100%;
          z-index: $i;
        }
      } 
}