// INITIALIZE
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-weight: 300;
}

ul,ol {
  list-style: none;
}

html { font-size: 62.5%; }
body { font-size: 1em; font-family: 'Open Sans', sans-serif; }
   
a {
  text-decoration: none;
  transition: all 0.25s;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
  }
}

%positionOff {
  position: absolute;
  left: -999999px;
}

%centerV {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// ICON FONT
@font-face {
  font-family: 'aw';
  src:
    url('fonts/aw.ttf?v4x0hr') format('truetype'),
    url('fonts/aw.woff?v4x0hr') format('woff'),
    url('fonts/aw.svg?v4x0hr#aw') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aw' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e900";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-vimeo:before {
  content: "\f27d";
}

// COLORS
$primary: #ff9800;
$secondary: #f3833d;
$tertiary: #383838;
$lgray: #9B9B9B;

// DIMENSIONS
$pageWidth: 1180px;
$cols: 12;
$gutter: 20px;
$breakpoint: 668px;
$headerHeight: 79px;

.content-fluid {
  max-width: $pageWidth + $gutter;
  width: 100%;
  margin: auto;
  @extend %clearfix;
}

%gridPadding {
  @media screen and (min-width: $breakpoint) {
    padding: 0 $gutter / 2;
    float: left;
  }
}

@media screen and (min-width: $breakpoint) {
@for $i from 1 through $cols {
  .col-#{$i} {
    width: 100% / $cols * $i;
    @extend %gridPadding;
  }
}
}

@import 'keyframes';
@import 'header';
@import 'body';
@import 'footer';