@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0 20px;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

[class^="col"] {
  width: 100%;
  padding: 0 10px;
}

.col-5 {
  width: 41.66667%;
}

.col-10 {
  width: 83.33333%;
}

@media screen and (min-width: 768px) {
  .col-md-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 1025px) {
  .col-lg-6 {
    width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .col-xl-5 {
    width: 41.66667%;
  }
}

body > header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}

.header_inner h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #383838;
  text-decoration: none;
}

.header_inner h1 svg {
  width: 56px;
  height: 47px;
  margin-right: 10px;
}

.header_inner nav {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.header_inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -10px;
}

.header_inner nav a {
  display: block;
  position: relative;
  color: #383838;
  text-decoration: none;
  padding: 0 10px;
}

.header_inner nav a:after {
  width: calc(100% - 10px);
  height: 0px;
  position: absolute;
  left: 5px;
  bottom: -3px;
  content: "";
  background: #383838;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.header_inner nav a:hover:after, .header_inner nav a:focus:after {
  height: 3px;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

h2 {
  font-size: 2.9375rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 4.75rem;
  }
}

a {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.section {
  position: relative;
  z-index: 100;
  padding: 31px 0;
}

section.section:before {
  width: 100vw;
  height: 51px;
  position: absolute;
  top: -34px;
  left: 0;
  content: "";
  background-image: url(../images/hex.svg);
  background-repeat: repeat-x;
  background-position: center;
}

.section.intro {
  background: #E6E6E6;
  color: #383838;
  padding: 100px 0;
}

@media screen and (min-width: 768px) {
  .section.intro {
    padding-top: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .section.intro {
    padding-top: 302px;
  }
}

.section.intro h2 {
  font-size: 4.75rem;
  text-align: center;
}

.section.intro h2 small {
  display: block;
  font-size: 1.125rem;
  margin-top: -0.96552em;
}

@media screen and (min-width: 768px) {
  .section.intro h2 {
    font-size: 7.6875rem;
    text-align: right;
  }
  .section.intro h2 small {
    font-size: 1.8125rem;
  }
}

.section.intro a {
  display: block;
  width: 100%;
  position: relative;
  color: #383838;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 24px;
}

.section.intro a:hover {
  color: #000000;
}

.section.intro a span {
  display: block;
}

.section.intro a svg {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto 2px auto;
  fill: currentColor;
}
