@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body>main {
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body.menu_open {
  height: 100vh;
  overflow: hidden;
}

.row {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 0 1.25rem;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

[class^="col"] {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.col-5 {
  width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

body>header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  -webkit-transition: all .25s;
  transition: all .25s;
  background: rgba(230,230,230,0.8);
}

body.scrolled>header {
  background: rgba(63,63,63,0.9);
}

body.scrolled>header h1 a {
  color: #E6E6E6;
}

body.scrolled>header h1 svg .st1 {
  fill: #3F3F3F;
}

body.scrolled>header nav a {
  color: #E6E6E6;
}

body.scrolled>header nav a:after {
  background: #E6E6E6;
}

body.scrolled .header_inner {
  padding: 0.625rem 0;
}

@-webkit-keyframes menu_tb_open {
  0% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@keyframes menu_tb_open {
  0% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@-webkit-keyframes menu_bb_open {
  0% {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@keyframes menu_bb_open {
  0% {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@-webkit-keyframes menu_tb_close {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
  }
}

@keyframes menu_tb_close {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-6px) rotate(0deg);
            transform: translateY(-6px) rotate(0deg);
  }
}

@-webkit-keyframes menu_bb_close {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }
}

@keyframes menu_bb_close {
  0% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  -webkit-transition: padding .25s;
  transition: padding .25s;
}

.header_inner h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #383838;
  text-decoration: none;
}

.header_inner h1 a:hover,
.header_inner h1 a:focus {
  color: #ff9800;
}

.header_inner h1 svg {
  width: 3.5rem;
  height: 2.9375rem;
  margin-right: 0.625rem;
}

.header_inner h1 svg .st0 {
  fill: currentColor;
}

.header_inner h1 svg .st1 {
  fill: #fff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.header_inner button {
  width: 2.9375rem;
  height: 2.9375rem;
  position: relative;
  border: 0;
  background-color: transparent;
}

.header_inner button span {
  display: block;
  text-indent: -999999px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.menu_open .header_inner button span {
  opacity: 0;
}

.menu_close .header_inner button span {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.header_inner button:before,
.header_inner button:after,
.header_inner button span {
  width: 1rem;
  height: 0.125rem;
  position: absolute;
  top: 1.3125rem;
  right: 0;
  background: #383838;
  content: "";
}

.scrolled .header_inner button:before,
.scrolled .header_inner button:after,
.scrolled .header_inner button span {
  background: #fff;
}

.header_inner button:before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.menu_open .header_inner button:before {
  -webkit-animation: menu_tb_open .5s;
          animation: menu_tb_open .5s;
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.menu_closed .header_inner button:before {
  -webkit-animation: menu_tb_close .5s;
          animation: menu_tb_close .5s;
}

.header_inner button:after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.menu_open .header_inner button:after {
  -webkit-animation: menu_bb_open .5s;
          animation: menu_bb_open .5s;
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.menu_closed .header_inner button:after {
  -webkit-animation: menu_bb_close .5s;
          animation: menu_bb_close .5s;
}

.header_inner nav {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.header_inner nav a {
  display: block;
  position: relative;
  color: #383838;
  text-decoration: none;
  padding: 0 0.625rem;
}

.header_inner nav a:after {
  width: calc(100% - 0.625rem);
  height: 0;
  position: absolute;
  left: 0.3125rem;
  bottom: -0.1875rem;
  content: "";
  background: #383838;
  -webkit-transition: all .25s;
  transition: all .25s;
}

body>footer {
  position: relative;
  background: #383838;
  color: #E6E6E6;
  padding: 2.8125rem 0;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body>footer:before {
  width: 100%;
  height: 3.1875rem;
  position: absolute;
  top: -2.125rem;
  left: 0;
  content: "";
  background-image: url(../images/hex.svg);
  background-repeat: repeat-x;
  background-position: center;
}

body>footer h2 {
  margin-bottom: .21053em;
}

body>footer a {
  color: #fff;
  text-decoration: none;
}

body>footer a:hover,
body>footer a:focus {
  color: #ff9800;
}

.social svg {
  width: auto;
  height: 1.75rem;
  fill: currentColor;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social li {
  margin: 0 0.6875rem;
}

.social span {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.contact form>div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  grid-row-gap: 14px;
}

.contact label,
.contact input,
.contact textarea {
  font-size: 1rem;
}

.contact input,
.contact textarea {
  font-family: "Open Sans Condensed",sans-serif;
  border: 0.0625rem solid #000;
}

.contact input {
  height: 2.3125rem;
  padding: 0 0.625rem;
}

.contact textarea {
  height: 7.5rem;
  padding: 0.625rem;
}

.contact button {
  background: #ff9800;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1em;
  padding: 1.125rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  background: #9B9B9B;
  -ms-grid-column: 2;
  grid-column: 2;
}

.contact button:hover,
.contact button:focus {
  background: #ff9800;
}

body {
  font-family: "Open Sans Condensed",sans-serif;
}

h2 {
  font-size: 2.9375rem;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5em;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.section {
  z-index: 100;
  padding: 1.9375rem 0 4.6875rem 0;
  position: relative;
}

.section:before {
  width: 100%;
  height: 3.1875rem;
  position: absolute;
  top: -2.125rem;
  left: 0;
  content: "";
  background-image: url(../images/hex.svg);
  background-repeat: repeat-x;
  background-position: center;
}

.section.portfolio ul {
  margin-bottom: 2.38889em;
}

.section.portfolio li {
  font-size: 1.125rem;
  line-height: 1.5em;
  display: inline;
  letter-spacing: .02em;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: default;
  border-radius: 0.125rem;
}

.section.portfolio li:hover,
.section.portfolio li:focus {
  background: #E6E6E6;
}

.section.portfolio li:after {
  content: ", ";
}

.section.portfolio li:last-child:after {
  content: "";
}

.section.portfolio .portfolio-carousel .owl-stage-outer {
  overflow: visible;
}

.section.portfolio .portfolio-carousel article {
  padding: 0 0.625rem;
  position: relative;
}

.section.portfolio .portfolio-carousel article>div {
  border-radius: 0.125rem;
  padding: 1.25rem 0.0625rem 0.0625rem 0.0625rem;
  background: #3F3F3F;
  position: relative;
}

.section.portfolio .portfolio-carousel article>div>div {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(63,63,63,0.75);
  color: #fff;
  padding: 1.3125rem;
}

.section.portfolio .portfolio-carousel article p:last-child {
  text-align: center;
  margin-top: 1em;
}

.section.portfolio .portfolio-carousel article a {
  background: #ff9800;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1em;
  padding: 1.125rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

.section.portfolio .portfolio-carousel article:hover a,
.section.portfolio .portfolio-carousel article:focus a {
  display: inline-block;
}

.section.portfolio .portfolio-carousel article:before,
.section.portfolio .portfolio-carousel article:after,
.section.portfolio .portfolio-carousel article>div:before {
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.4375rem;
  border-radius: 0.1875rem;
  border-width: 1px;
  border-style: solid;
  content: '';
  z-index: 100;
}

.section.portfolio .portfolio-carousel article:before {
  background-color: #ff5f57;
  border-color: #ff473e;
  left: 1.0625rem;
}

.section.portfolio .portfolio-carousel article:after {
  background-color: #ffbd2d;
  border-color: #ffb514;
  left: 1.6875rem;
}

.section.portfolio .portfolio-carousel article>div:before {
  background-color: #28c941;
  border-color: #24b43a;
  left: 1.6875rem;
}

.section.portfolio .portfolio-carousel img {
  display: block;
  width: 100%;
  height: auto;
}

.section.portfolio .portfolio-carousel .owl-item {
  opacity: .6;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.section.portfolio .portfolio-carousel .owl-item.active {
  opacity: 1;
}

.section.portfolio .portfolio-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.625rem 0;
}

.section.portfolio .portfolio-carousel .owl-dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background: #9B9B9B;
  margin: 0 0.1875rem;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.section.portfolio .portfolio-carousel .owl-dot.active {
  background: #ff9800;
}

.section.cv .jobs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  position: relative;
  padding: 3.125rem 0;
  color: #383838;
}

.section.cv .jobs:after {
  width: 0.25rem;
  height: 100%;
  position: absolute;
  left: calc(50% - 0.125rem);
  top: 0;
  content: "";
  background: #383838;
  z-index: 0;
}

.section.cv .jobs li {
  position: relative;
  padding: 0.3125rem 1.875rem 0.3125rem 0;
  z-index: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section.cv .jobs li:nth-child(2n) {
  padding: 0.3125rem 0 0.3125rem 1.875rem;
}

.section.cv .jobs li:nth-child(2n):before {
  background: #ff9800;
  left: -0.125rem;
}

.section.cv .jobs li:nth-child(2n):after {
  background: #ff9800;
  left: 0.125rem;
}

.section.cv .jobs li:before {
  width: 0.25rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: -0.125rem;
  content: "";
  background: #383838;
}

.section.cv .jobs li:after {
  width: 1.4rem;
  height: 0.25rem;
  position: absolute;
  top: calc(50% - 0.125rem);
  right: 0.125rem;
  content: "";
  background: #383838;
}

.section.cv p {
  margin: 2em 0;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
}

.section.cv a {
  color: #e68900;
}

.section.cv a:hover,
.section.cv a:focus {
  color: #383838;
}

.intro {
  background: #E6E6E6;
  color: #383838;
  padding: 6.25rem 0;
}

.intro h2 {
  font-size: 4.75rem;
  text-align: center;
}

.intro h2 small {
  display: block;
  font-size: 1.125rem;
  margin-top: -.96552em;
}

.intro a {
  display: block;
  width: 100%;
  position: relative;
  color: #383838;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1.5rem;
}

.intro a:hover,
.intro a:focus {
  color: #000;
}

.intro a span {
  display: block;
}

.intro a svg {
  width: 1.5625rem;
  height: 1.5625rem;
  display: block;
  margin: 0 auto 0.125rem auto;
  fill: currentColor;
}

#feedback {
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
  background: #000;
  color: #fff;
  padding: 0.625rem;
  z-index: 99999;
  display: none;
}

@media screen and (min-width: 768px) {
  .col-md-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }

  .col-md-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col-md-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }

  .col-md-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  body>footer {
    text-align: left;
  }

  .social ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .social li:first-child {
    margin-left: 0;
  }

  .contact label,
  .contact input,
  .contact textarea {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 4.75rem;
  }

  .section {
    padding: 4.6875rem 0 9.375rem 0;
  }

  .section.portfolio .portfolio-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -0.625rem;
  }

  .section.portfolio .portfolio-carousel article:before,
  .section.portfolio .portfolio-carousel article:after {
    top: 1.0625rem;
  }

  .section.portfolio .portfolio-carousel article {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0.625rem;
  }

  .section.cv .jobs {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 0;
    margin-top: 1.25rem;
  }

  .section.cv .jobs:after {
    width: 200vw;
    height: 0.375rem;
    position: absolute;
    top: calc(50% - 0.1875rem);
    left: -100vw;
  }

  .section.cv .jobs li {
    text-align: center;
    padding: 0 0 2.725rem 0;
  }

  .section.cv .jobs li:before {
    width: 50%;
    height: 0.375rem;
    left: 25%;
    right: auto;
  }

  .section.cv .jobs li:after {
    width: 0.375rem;
    height: 2.1rem;
    right: calc(50% - 0.1875rem);
  }

  .section.cv .jobs li:nth-child(2n) {
    -ms-grid-row: 2;
    grid-row: 2;
    z-index: 10;
    padding: 2.725rem 0 0 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .section.cv .jobs li:nth-child(2n):after {
    top: 0;
    left: auto;
  }

  .section.cv .jobs li:nth-child(2n):before {
    top: -0.1875rem;
    left: 25%;
  }

  .section.cv .jobs li:nth-child(2n+1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }

  .section.cv .jobs li:nth-child(2n+1):before {
    top: auto;
    bottom: -0.1875rem;
  }

  .section.cv .jobs li:nth-child(2n+1):after {
    top: auto;
    bottom: 0;
  }

  .section.cv .jobs li:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .section.cv .jobs li:nth-child(2) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
  }

  .section.cv .jobs li:nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
  }

  .section.cv .jobs li:nth-child(4) {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
  }

  .section.cv .jobs li:nth-child(5) {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 2;
    grid-column-end: 7;
  }

  .section.cv p {
    font-size: 1.5rem;
  }

  .intro {
    padding-top: 12.5rem;
  }

  .intro h2 {
    font-size: 7.6875rem;
    text-align: right;
  }

  .intro h2 small {
    font-size: 1.8125rem;
  }
}

@media screen and (min-width: 1025px) {
  .col-lg-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col-lg-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }

  .col-lg-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }

  .header_inner button {
    display: none;
  }

  .header_inner nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -0.625rem;
  }

  .header_inner nav a:hover:after,
  .header_inner nav a:focus:after {
    height: 0.1875rem;
  }

  body>footer {
    padding: 5.75rem 0;
  }

  .social svg {
    height: 2.25rem;
  }

  .contact button {
    padding: 1.125rem 1.4375rem;
    font-size: 1.4375rem;
  }

  .section.portfolio .portfolio-carousel article a {
    padding: 1.125rem 1.4375rem;
    font-size: 1.4375rem;
  }

  .section.portfolio .portfolio-carousel article a {
    display: none;
  }

  .section.portfolio .portfolio-carousel article {
    width: 33.3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }

  .intro {
    padding-top: 18.875rem;
  }
}

@media screen and (min-width: 1240px) {
  .col-xl-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }

  .col-xl-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
}

@media screen and (max-width: 1024.9px) {
  body.menu_open>main,
  body.menu_open>footer {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }

  body>header>.row {
    padding: 0 0.625rem;
  }

  .header_inner nav {
    width: 100vw;
    height: calc(100vh - 4.9375rem);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    text-align: center;
    font-size: 1.8125rem;
    font-weight: 700;
    background: rgba(230,230,230,0.8);
    padding-top: 1em;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: auto;
  }

  .menu_open .header_inner nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .scrolled .header_inner nav {
    background: rgba(63,63,63,0.9);
  }

  .header_inner nav a {
    padding: .25em 0;
  }
}

@media screen and (max-width: 767.9px) {
  body>footer [class^="col"]+[class^="col"] {
    margin-top: 1.8125rem;
  }

  .section.portfolio .row:last-child {
    margin: 0 1.5625rem;
  }

  .section.cv .jobs li:nth-child(2n) {
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .section.cv .jobs li:nth-child(2n+1) {
    -ms-grid-column: 1;
    grid-column: 1;
    text-align: right;
  }

  .section.cv .jobs li:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .section.cv .jobs li:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .section.cv .jobs li:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .section.cv .jobs li:nth-child(4) {
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .section.cv .jobs li:nth-child(5) {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media screen and (max-width: 375px) {
  .section.cv .jobs li>h3,
  .section.cv .jobs li>div {
    font-size: 0.875rem;
  }
}