* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slide {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#chicken { background-image: url("images/chicken.jpg"); }
#monkey { background-image: url("images/monkey.jpg"); }
#potato { background-image: url("images/potato.jpg"); }

.slide .content .padding {
  font-weight: 200;
  background-color: #FFCC33;
  background-color: rgba(255,240,150,0.9);
  margin: 0 auto;
  width: 50%;
  padding: 5%;
  -moz-border-radius: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.8);
}

#instructions {
  background-color: #000000;
  background-color: rgba(0,0,0,0.8);
  color: #FFFFFF;
  font-size: 14px;
  position: fixed;
  bottom: 3%;
  right: 3%;
  text-transform: uppercase;
  font-weight: 200;
  padding: 5px 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#instructions p:after {
  content: "»";
  font-weight: bold;
  display: block;
  float: right;
  margin-left: 1em;
  
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

@media screen and (max-width: 640px) {



}