$font-family: 'Open Sans Condensed', sans-serif;

// COLORS //
$black: #000000;
$white: #FFFFFF;

$gray_75: #BFBFBF;
$gray_50: #7F7F7F;
$gray_25: #3F3F3F;

$primary: #ff9800;
$secondary: #383838;
$tertiary: #f6a26d;

// Layout
$layout-width: 1200px;
$gutter: 20px;
