@import "tailwindcss";

@theme {
  --color-primary: #042242;
  --color-secondary: #F4843F;
  --color-secondary-dk: #F3772B;
  --color-secondary-text: #f06218;

  --color-accent-1: #033163;
  --color-accent-1-md: #05264a;
  --color-accent-1-dk: #021933;

  --color-gray-lt: #F2F4F8;
  --color-gray-dk: #151E29;

  --font-sans: "Montserrat", sans-serif;

  --text-xxs: 12px;
  --text-xs: 14px;
  --text-sm: 23px;
  --text-lg: 37px;
  --text-xl: 47px;
  --text-2xl: 60px;
  --text-3xl: 76px;
}

body,html {
  font-family: var(--font-sans);
}

button {
  @apply cursor-pointer;
}

.clip-hex {
  clip-path: polygon(
    1.13% 50.22%,
    25.63% 1.54%,
    74.50% 1.54%,
    98.88% 50.22%,
    74.50% 98.82%,
    25.63% 98.82%
  );
}

.transition-300 {
  @apply transition-all duration-300;
}

@media (width < 48rem) {
  .main-header.nav-open {
    @apply text-white;
  }
  .main-nav {
    @apply  absolute z-90 w-screen h-screen top-0 right-0 bg-accent-1 text-white flex justify-center items-center text-center translate-x-full text-lg font-normal;
    .main-header.nav-open & {
      @apply translate-x-0;
    }
  }
}

.mobile-nav-toggle {
  span {
    @apply text-current;
    &:first-child {
      @apply -translate-y-2;
    }
    &:nth-child(3) {
      @apply translate-y-2;
    }
  }
}

/*
  xxs: [12, 12, 12],
  xs: [14, 14, 14],
  sm: [23, 14, 37],
  base: [29, 18, 46],
  lg: [37, 23, 58],
  xl: [47, 29, 72],
  "2xl": [60, 37, 91],
  "3xl": [76, 47, 114],
  reg: [16, 16, 24],
  */