@import "tailwindcss";

@theme {
  --color-primary: #042242;
  --color-secondary: #F4843F;
  --color-secondary-dk: #F3772B;
  --color-secondary-text: #f06218;

  --color-accent-1: #033163;
  --color-accent-1-md: #05264a;
  --color-accent-1-dk: #021933;

  --color-gray-lt: #F2F4F8;
  --color-gray-dk: #151E29;

  --font-sans: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-sans);
}

.clip-hex {
  clip-path: polygon(
    1.13% 50.22%,
    25.63% 1.54%,
    74.50% 1.54%,
    98.88% 50.22%,
    74.50% 98.82%,
    25.63% 98.82%
  );
}