<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }} | {{ site.subtitle }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    {% include '..//components/header.twig' %}
  </header>
  <main>
    {% block page %}{% endblock %}
  </main>
  <footer>
    Footer
  </footer>
</body>
</html>
{# https://www.npmjs.com/package/gulp-twig #}
