<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }} | {{ site.subtitle }}</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    {% include '../components/header.twig' %}
  </header>
  <main>
    {% block page %}{% endblock %}
  </main>
  <footer>
    Footer
  </footer>
  <div id="feedback">FB</div>
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
{# https://www.npmjs.com/package/gulp-twig #}
