<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}</title>
</head>
<body>
  <header>
    Header
  </header>
  <main>
    {% block page %}{% endblock %}
  </main>
  <footer>
    Footer
  </footer>
</body>
</html>
{# https://www.npmjs.com/package/gulp-twig #}
