h1 {

}

h2 {
  font-size: 47px;
  font-weight: 300;
  text-transform: uppercase;

  @media #{$mediaTablet} {
    font-size: 76px;
  }
}

h3 {
  font-size: 18px;
  @include fw-bold;
  line-height: (27 / 18) * 1em;
}

h4 {

}

h5 {

}

h6 {

}

ul,
ol {
  list-style: none;
}


a {
  transition: all .25s;
}
