.intro {
  background: $gray_90;
  color: $secondary;
  padding: 100px 0;

  @media #{$mediaTablet} {
    padding-top: 200px;
  }

  @media #{$mediaDesktop} {
    padding-top: 302px
  }

  h2 {
    font-size: 76px;
    text-align: center;

    small {
      display: block;
      font-size: 18px;
      margin-top: (28 / 29) * -1em;
    }

    @media #{$mediaTablet} {
      font-size: 123px;
      text-align: right;

      small {
      font-size: 29px;
      }
    }
  }

  a {
    display: block;
    width: 100%;
    position: relative;
    color: $secondary;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 24px;

    @include hover {
      color: $black;
    }

    span {
      display: block;
    }

    svg {
      width: 25px;
      height: 25px;
      display: block;
      margin: 0 auto 2px auto;
      fill: currentColor;
    }
  }
}
