&.portfolio {
  @media #{$mediaPhone} {
    .row:last-child {
      margin: 0 25px;
    }
  }

  ul {
    margin-bottom: (43 / 18) * 1em;
  }
  li {
    font-size: 18px;
    line-height: (27 / 18) * 1em;
    display: inline;
    @include letterSpacing(20);
    transition: all .25s;
    cursor: default;
    border-radius: 2px;

    @include hover {
      background: $gray_90;
    }

    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }

  .portfolio-carousel {
    @media #{$mediaTablet} {
      display: flex;
      flex-wrap: wrap;
      margin: $gutter / -2;
    }

    article {
      padding: 0 $gutter / 2;
      position: relative;

      > div {
        border-radius: 2px;
        padding: 20px 1px 1px 1px;
        background: $gray_25;
        position: relative;

        > div {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background: rgba($gray_25,.75);
          color: $white;
          padding: 21px;
        }
      }

      p:last-child {
        text-align: center;
        margin-top: 1em;
      }

      a {
        @include btn;

        @media #{$mediaDesktop} {
          display: none;
        }
      }

      @include hover {
        a {
          display: inline-block;
        }
      }

      &:before,
      &:after,
      > div:before {
        width: 4px;
        height: 4px;
        position: absolute;
        top: 7px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        content: '';
        z-index: 100;
      }

      &:before,
      &:after {
        @media #{$mediaTablet} {
          top: ($gutter / 2) + 7;
        }
      }

      &:before {
        background-color: $wclose;
        border-color: darken($wclose,5);
        left: ($gutter / 2) + 7;
      }

      &:after {
        background-color: $wmin;
        border-color: darken($wmin,5);
        left: ($gutter / 2) + 17;
      }

      > div:before {
        background-color: $wmax;
        border-color: darken($wmax,5);
        left: 27px;
      }

      @media #{$mediaTablet} {
        width: 50%;
        flex: 0 0 50%;
        padding: $gutter / 2;
      }

      @media #{$mediaDesktop} {
        width: 33.3%;
        flex: 0 0 33.3%;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
