body > footer {
  @include hexborder;
  background: $secondary;
  color: $gray_90;
  padding: 45px 0;
  text-align: center;
  transition: all $barspeed;

  @media #{$mediaTablet} {
    text-align: left;
  }

  @media #{$mediaDesktop} {
    padding: 92px 0;
  }

  h2 {
    margin-bottom: (16 / 76) * 1em;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary;
    }
  }

  [class^="col"] {
    + [class^="col"] {
      @media #{$mediaPhone} {
        margin-top: 29px;
      }
    }
  }
}

.social {
  svg {
    width: auto;
    height: 28px;
    fill: currentColor;

    @media #{$mediaDesktop} {
      height: 36px;
    }
  }

  ul {
    display: flex;
    justify-content: center;

    @media #{$mediaTablet} {
      justify-content: flex-start;
    }
  }

  li {
    margin: 0 11px;

    @media #{$mediaTablet} {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  span {
    @include srOnly;
  }
}

.contact {
  form {
    > div {
      display: grid;
      grid-template-columns: 90px 1fr;
      grid-row-gap: 14px;
    }
  }

  label,
  input,
  textarea {
    font-size: 16px;

    @media #{$mediaTablet} {
      font-size: 18px;
    }
  }

  input,
  textarea {
    font-family: $font-family;
    border: 1px solid $black;
  }

  input {
    height: 37px;
    padding: 0 10px;
  }

  textarea {
    height: 120px;
    padding: 10px;
  }

  button {
    @include btn;
    background: $gray_50;
    grid-column: 2;

    &:hover,
    &:focus {
      background: $primary;
    }
  }
}
