// Main Header Styles
body {
  > header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    transition: all .25s;
    background: rgba($gray_90,.8);

    > .row {
      @media #{$mediaToggleHeader} {
        padding: 0 $gutter / 2;
      }
    }
  }

  &.scrolled {
    > header {
      background: rgba($gray_25,.9);
      //box-shadow: 0px 3px 2px rgba($gray_25,.9);

      h1 {
        a {
          color: $gray_90;
        }

        svg {
          .st1 {
            fill: $gray_25;
          }
        }
      }

      nav {
        a {
          color: $gray_90;

          &:after {
            background: $gray_90;
          }
        }
      }
    }

    .header_inner {
      padding: 10px 0;
    }
  }
}

@keyframes menu_tb_open {
  0% { transform: translateY(-#{$barspace}px) rotate(0deg); }
  50% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(0) rotate(45deg); }
}

@keyframes menu_bb_open {
  0% { transform: translateY(#{$barspace}px) rotate(0deg); }
  50% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(0) rotate(-45deg); }
}

@keyframes menu_tb_close {
  0% { transform: translateY(0) rotate(45deg); }
  50% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(-#{$barspace}px) rotate(0deg); }
}

@keyframes menu_bb_close {
  0% { transform: translateY(0) rotate(-45deg); }
  50% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(#{$barspace}px) rotate(0deg); }
}

// Header Inner Styles
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  transition: padding .25s;

  h1 {
    a {
      display: flex;
      align-items: center;
      @include fw-bold;
      font-size: 24px;
      text-transform: uppercase;
      color: $secondary;
      text-decoration: none;

      @include hover {
        color: $primary;
      }
    }

    svg {
      width: 56px;
      height: 47px;
      margin-right: $gutter / 2;

      .st0 {
        fill: currentColor;
      }

      .st1 {
        fill: $white;
        transition: all .25s;
      }
    }
  }

  button {
    width: 47px;
    height: 47px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    span {
      display: block;
      text-indent: -999999px;
      transition: all $barspeed / 2;

      .menu_open & {
        opacity: 0;
      }

      .menu_close & {
        transition-delay: $barspeed / 2;
      }
    }

    &:before,
    &:after,
    span {
      width: 16px;
      height: 2px;
      position: absolute;
      top: 21px;
      right: 0;
      background: $secondary;
      content: "";
      .scrolled & {
        background: $white;
      }
    }

    &:before {
      transform: translateY(-#{$barspace}px);

      .menu_open & {
        animation: menu_tb_open $barspeed;
        transform: translateY(0) rotate(45deg);
      }

      .menu_closed & {
        animation: menu_tb_close $barspeed;
      }
    }

    &:after {
      transform: translateY(#{$barspace}px);

      .menu_open & {
        animation: menu_bb_open $barspeed;
        transform: translateY(0) rotate(-45deg);
      }

      .menu_closed & {
        animation: menu_bb_close $barspeed;
      }
    }

    @media #{$mediaDesktop} {
      display: none;
    }
  }

  nav {
    font-size: 14px;
    text-transform: uppercase;

    @media #{$mediaToggleHeader} {
      width: 100vw;
      height: calc(100vh - 79px);
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 100;
      text-align: center;
      font-size: 29px;
      @include fw-bold;
      background: rgba($gray_90,.8);
      padding-top: 1em;
      transform: translateX(100%);
      transition: all $barspeed;
      overflow: auto;

      .menu_open & {
        transform: translateX(0);
      }

      .scrolled & {
        background: rgba($gray_25,.9);
      }

      a {
        padding: .25em 0;
      }
    }

    @media #{$mediaDesktop} {
      ul {
        display: flex;
        margin: 0 -10px;
      }
    }

    a {
      display: block;
      position: relative;
      color: $secondary;
      text-decoration: none;
      padding: 0 10px;

      &:after {
        width: calc(100% - 10px);
        height: 0px;
        position: absolute;
        left: 5px;
        bottom: -3px;
        content: "";
        background: $secondary;
        transition: all .25s;
      }

      @include hover {
        &:after {
          @media #{$mediaDesktop} {
            height: 3px;
          }
        }
      }
    }
  }
}
