<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind!</title>
  </head>
  <body>
    <h1 class="text-9xl text-slate-700">Hello Dar!</h1>
    {% include './twig/templates/test.twig' with { cheese: 'cheddar' } %}
    
  </body>
</html>
