<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind!</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    <h1 class="text-9xl text-slate-700">Hello Dar!</h1>
    {% include './twig/templates/test.twig' with { cheese: 'cheddar' } %}

    <script src="./js/scripts.js"></script>
  </body>
</html>
