<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind!</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" /> 
    <script defer type="module" src="./js/scripts.js"></script>
  </head>
  <body>
    <h1 class="text-9xl text-slate-500">Hello Dar!</h1>
    {% include './twig/templates/test.twig' with { cheese: 'cheddar' } %}

   
  </body>
</html>
