@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base-m md:text-base;
}

.circle-bg {
  @apply overflow-hidden w-full h-full absolute top-0 left-0 z-0
    before:w-[102%] before:aspect-square before:absolute before:-left-1/2 before:bottom-0 before:content-[''] before:rounded-full 
    before:bg-p2-dk before:translate-y-[35%] before:translate-x-[4.5%];
}

.home-intro {
  @apply flex items-center gap-2 sm:gap-9;
}

.home-intro:after,
.home-intro:before {
  @apply content-[''] h-px bg-white grow;
}

.menu-button:before,
.menu-button:after {
  @apply content-[""];
}

.menu-button span:not(.sr-only),
.menu-button:before,
.menu-button:after {
  @apply w-full h-0.5 desktopXl:h-1 bg-white block absolute left-0 top-[calc(50%-2px)] origin-center duration-300;
}

.menu-button:before {
  @apply -translate-y-2.5 desktopXl:-translate-y-3;
}
.menu-button:after {
  @apply translate-y-2.5 desktopXl:translate-y-3;
}

.experience-row h4 {
  @apply md:m-auto flex items-center justify-center rounded-full font-sans border border-4;
}

.experience-marker {
  @apply max-md:flex max-md:h-full;
}
.experience-marker > div {
  @apply h-full w-1/2 md:w-full md:h-1/2 md:border-r-white md:border-r-4 max-md:border-b-white max-md:border-b-4;
}

.experience-year {
  @apply relative after:content-[""] block after:absolute
    after:w-7 after:h-1 after:top-1/2 after:left-full max-md:after:-translate-y-1/2
    md:after:w-1 md:after:h-5 md:after:top-full md:after:left-2/4 md:after:-translate-x-1/2;
}

.experience-year.even {
  @apply md:after:bottom-full md:after:top-auto;
}

.mail-form label,
.mail-form input,
.mail-form textarea {
  @apply block my-2 font-sans;
}

.mail-form input,
.mail-form textarea {
  @apply bg-s2-dk w-full p-2;
}

.blog-post {
  @apply text-[16px] leading-8;

  p {
    @apply my-[1.4em];
  }

  .wp-block-code {
    @apply lg:w-4/5 m-auto text-xs leading-6 bg-glight p-4 border border-p overflow-auto my-[1.4em];
  }

  .is-layout-flex {
    @apply flex gap-5;
  }

  .wp-block-column {
    @apply flex-1;
  }

  a {
    @apply text-p2-dk underline decoration-transparent hover:decoration-p2-dk transition-all duration-300;
  }
}

.blog-post-content :first-child {
  @apply mt-0;
}
